*{
    margin: 0;
    padding: 0;
}

body {
    height: 1000vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header {
    height: 15vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: inherit;
}

.first-nav {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    position: relative;
    text-rendering: auto;
    text-align: center;
    background: #f5f5f5;
    width: 100%;
    list-style: none;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0px;
}

.jordan {
    width: 20px;
    height: 20px;
    margin-left: 3.1rem;
    cursor: pointer;
    margin-top: 4px;
}

.jordan:hover {
    opacity: 0.5;
}

nav ul li{
    display: inline-block;

}

.first-nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #111;
    font-weight: bolder;
    
}

.first-nav ul li a:hover {
    opacity: 0.5;
}

.one {
    padding-left: 8px;
    padding-right: 8px;
}

.two {
    padding-left: 8px;
    padding-right: 8px;
}

.three {
    padding-left: 8px;
    padding-right: 8px;
}

.four {
    padding-left: 8px;
    padding-right: 3rem;
}



.second-nav {
    display: flex;
    background: #fff ;
    justify-content: center;
    padding: 13px 30px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    align-items: center;
   
}

.nike-logo {
    width: 70px;
    height: 30;
    position: absolute;
    left: 2.7rem ;
    margin-top: -30px;
    cursor: pointer;

}

.nike-logo:hover {
    opacity: 0.5;
}

.second-nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #333;
    margin-right: 30px;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
    justify-content: center;
    top: 100px;
    padding: 10px 0px;
    margin-bottom: 20rem;
    margin-left: -0.2rem;

}

.second-nav ul li a:hover {
    text-decoration: underline;
    color: #000;
    opacity: 0.5;
}

.src-icon {
    position: absolute;
    right: 18rem;
}
 

.Search {
    border-radius: 30px;
    padding: 10px 10px;
    width: 10rem;
    margin-left: 3rem;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin-top: -9px;
    outline: none;
    text-align: center;
}

.Search:hover {
    background: #F0EAD6;
    
}

nav ion-icon {
    width: 30px;
    height: 3rem;
    position: absolute;
    margin-right: 10px;
    border-radius: 180px;
    padding: 2px 12px;
    cursor: pointer;
    right: 6rem;
   

}

nav ion-icon:hover {
    background: #F0EAD6;   
}

.nav .drop-menu {
    background: #242526;
    width: 180px;
}


.title {
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    height: 10vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    
}

.line {
    padding: 0px 0px ;
  
   
    width: 100%;
    position: relative;
    margin-right: 100rem;
   
}

.line h1 {
    font-size: 15px;
    width: 35rem;
}

.line:first-child {
    animation: anim 60s infinite;
}



@keyframes anim {
    0%{
        margin-left: 25rem;
    }
    15%{
        margin-left: -110rem;
    }
    30%{
        margin-left: -245rem;
    }
    45%{
        margin-left: -380rem;
    }
    60%{
        margin-left: -515rem;
    }
    75%{
        margin-left: -380rem;
    }
    90%{
        margin-left: -245rem;
    }
    100%{
        margin-left: 25rem;
    }    
}

.line p {
    font-size: 13px;
}

.line a {
    color: #111;
    font-size: 13px;

}

 





.front {
    position: relative;
}

.front img {
    width: 91px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 3.9rem;
}

.third-nav {
    display: flex;
    background: #fff ;
    justify-content: center;
    padding: 20px 30px;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 1.2rem;
    margin-left: -1rem;
    
}

.third-nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #333;
    margin-right: 30px;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
    justify-content: center;
    top: 100px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.jordan-video video{
    width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.air-jordan {
    text-align: center;
    margin-top: 7rem;
    line-height: 25px;
}

.air-jordan h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 70px;
    text-transform: uppercase;
}

.air-jordan p {
    margin-top: 4rem;
    font-size: 20px;
}

.air-jordan button {
    width: 90px;
    padding: 11px 18px;
    border-radius: 30px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    margin-top: 2rem;
}

.trend {
    margin-left: 50px;
    margin-top: 7rem;
}

.trend h1 {
    font-weight: 700;
}

.trend img {
    width: 96%;
    margin-top: 3rem;
}

.golf {
    margin-left: 50px;
    margin-top: 3rem;
    text-align: center;
    line-height: 25px;
}

.golf h2 {
    font-weight: 100;
}

.golf h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    font-weight: 100;
    margin-top: 3rem;
}

.golf p {
    font-size: 20px;
    margin-top: 4rem;
}

.golf button {
    width: 90px;
    padding: 11px 18px;
    border-radius: 30px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1rem;
}

.jordan-wrap {
    margin-top: 3rem;
    margin-left: 50px;
}

.jordan-shop {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-right: 100px;
}

.jordan-shop a{
    text-decoration: none;
    color: #111;
}

.jordan-shop a:hover {
    opacity: 0.9;
}

.jordan-shop div {
    width: 1680px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    margin-top: 3rem;
    flex: none;
    margin-right: 80px;
    overflow-x: hidden;
    cursor: pointer;
}

.jordan-shop div img {
    width: 410px;
    transition: transform 0.5s  ;
    
    
}

.jordan-shop::-webkit-scrollbar {
    display: none;
}

#back {
    position: absolute;
    cursor: pointer;
    margin-top: -2rem;
    right: 7rem;
}

#forward {
    position: absolute;
    margin-top: -2rem;
    cursor: pointer;
    right: 4rem;
}

.miss {
    margin-top: 6rem;
    margin-left: 50px;
    cursor: pointer;
}

.miss h1{
    font-weight: 700;
}

.miss img {
    width: 1245px;
    margin-top: 2rem;

}

.mens-sport {
    text-align: center;
    margin-top: 2rem;
    line-height: 70px;
}

.mens-sport h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 70px;
}

.mens-sport h4 {
    font-weight: 100;
}

.mens-sport p {
    font-size: 20px;
}

.mens-sport button {
    width: 90px;
    padding: 11px 18px;
    border-radius: 30px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1rem;
}

.featured {
    margin-left: 50px;
    margin-top: 4rem;
}

.featured img {
    margin-top: 2rem;
    width: 96%;
}

.womens-sport {
    margin-top: 3rem;
    text-align: center;
    line-height: 30px;
}

.womens-sport h4{
    font-weight: 100;
}

.womens-sport h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    font-weight: 100;
    margin-top: 2rem;
}

.womens-sport p {
    font-size: 20px;
    margin-top: 2rem;
}

.womens-sport button {
    width: 90px;
    padding: 11px 18px;
    border-radius: 30px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1rem;
}


.jordan-discover {
    margin-left: 50px;
    margin-top: 4rem;
}

.discover {
    display: flex;
}

.discover h1{
    font-weight: 700;
    letter-spacing: -1px;
}

.discover img {
    margin-top: 3rem;
    width: 428px;
}

.discover a {
    color: #111;
    text-decoration: none;
}

.explore {
    margin-left: 50px;
    margin-top: 4rem;
}

.explore img {
    width: 48%;
}

.explore h2 {
    color: #f5f5f5;
    margin-top: -9rem;
    font-weight: 100;
    margin-left: 5rem;
    font-size: 20px;
}

.explore button {
    width: 90px;
    padding: 11px 14px;
    border-radius: 30px;
    border: none;
    background: #fff;
    color: #333;
    font-weight: 100;
    font-size: 17px;
    margin-top: 2rem;
    margin-left: 6rem;
    cursor: pointer;
}

.explore button:hover {
    opacity: 0.8;
}

.inside-explore h2{
    color: #f5f5f5;
    margin-top: -6rem;
    font-weight: 100;
    margin-left: 43rem;
    font-size: 20px;
}

.inside-explore button {
    width: 120px;
    padding: 11px 14px;
    border-radius: 30px;
    border: none;
    background: #fff;
    color: #333;
    font-weight: 100;
    cursor: pointer;
    font-size: 17px;
    margin-top: 1.9rem;
    margin-left: 44rem;
    cursor: pointer;
}

.inside-explore button:hover {
    opacity: 0.8;
}





.last {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    gap: 7rem;
    text-align: start;
    line-height: 40px;
    margin-bottom: 5rem;
    height: 155px;
    overflow: hidden;
    transition: .5s ease;
    position: relative;
}

.last-col {
    margin-top: 9rem
}

.last-coll {
    margin-top: 4rem;
}

.last-colll {
    margin-top: 1.5rem;
}

.last-collll {
    margin-top: 6.9rem;
}

.last h4 {
    font-size: 20px;
    font-weight: 100;
}

.last:hover {
    margin-top: -2rem;
    height: 400px;
    overflow: visible;
}



.last ul li a {
    font-size: 15px;
    color: grey;
    font-weight: 500;
}







.container {
    max-width: 1170px;
    margin-left: 10px;
    height: 180px;
}
.footer {
    background: #111;
    padding: 70px 0;
    color: #f5f5f5;
    line-height: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: grey;
    font-weight: 100;
    font-size: 12px;
}

.footer-col h4{
    font-size: 12px;
    font-weight: 700;
   
}


.fa {
    padding: 10px 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    left: 58rem;
    bottom: 12rem;

    

}

.fa-facebook {
    background: #333;
  color: white;
}

.fa-twitter {
    background: #333;
  color: white;
}

.fa-youtube {
    background: #333;
  color: white;
}

.fa-instagram {
    background: #333;
  color: white;
}


.credits {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.credits p {
    font-size: 11px;
    position: relative;
    right: 17rem;
}

.phi {
    font-size: 16px;
}
.cr {
    margin-left: 20px;
    color: grey;
}

ul h4 a {
    color: #F0EAD6;
    text-decoration: none;
}

.credits ul {
    display: flex;
    padding: 0px 30px;
   gap: 40px;
}

.credits ul a {
    font-size: 14px;
    left: 12rem;
    position: relative;
}






@keyframes move {
    37.5% {
     left: calc(50%-25px); opacity: 1s; -webkit-filter: opacity(1); }
     75% { left: calc(50%-25px); opacity: 1;}
     85% { left: 80%;opacity: 0;}
     100% { opacity: 0;}     
    }
